.phone-title {
text-align: center;

}
.my-block{
    margin-top: 5%;
}
.phone-para{
    text-align: center;
}
.phone-input{
   margin-left: 36% ;
}

.mybutton{
    margin-left: 44%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.input-code{
    max-width: 250px;
    margin-left: 37%;
    
}

.verify-btn{
    margin-left: 45%;
    margin-top: 2%;
}
.recap{
    margin-left: 35%;
    margin-top: 2%;
}

.sent-text{

    margin-left: 15%;
    display: none;
}